---
layout: default
---
<div class="container">
  {% include header.html %}
  <div class="container-block">
    <div class="sidebar">
      {% include contact.html %}
      {% include languages.html %}
      {% include education.html %}
      {% include skills.html %}
      {% include fork.html %}
    </div>

    <div class="main">
      {% include career-profile.html %}
      {% include experience.html %}
      {% include publications.html %}
      {% include projects.html %}
      {% include volunteering.html %}
    </div>
  </div>
</div>


<webring-banner>
  <p>Member of the <a href="https://first-time-is-the-charm.netlify.app/%22%3EFirst Time Is The Charm</a> webring</p>
  <a href="https://first-time-is-the-charm.netlify.app/prev%22%3EPrevious</a>
  <a href="https://first-time-is-the-charm.netlify.app/random%22%3ERandom</a>
  <a href="https://first-time-is-the-charm.netlify.app/next%22%3ENext</a>
  </webring-banner>
  <script async src="https://first-time-is-the-charm.netlify.app/embed.js" charset="utf-8"></script>